<h1>All Animals</h1>
<ul>
  <% @animals.each do |animal| %>
    <li>
      <%= animal.name %> the <%= animal.species %> is <%= animal.age %> years old.
      <%= link_to 'Details', show_animal_path(animal.id) %>
    </li>
  <%end%>
</ul>
<%= link_to 'Add an animal', new_animal_path %>
